@font-face {
  font-family: 'Hogfish';
  src: url("../assets/fonts/Hogfish.otf"); }
* {
  font-family: 'Roboto Slab', serif; }

nav {
  background: #fff;
  border-bottom: 5px solid #620202; }
  nav img {
    width: 100%;
    height: auto;
    margin: 16px 0px; }

#header {
  padding: 32px 0px;
  background: #9f0010;
  background: -moz-linear-gradient(top, #9f0010 0%, #ff0033 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #9f0010), color-stop(100%, #ff0033));
  background: -webkit-linear-gradient(top, #9f0010 0%, #ff0033 100%);
  background: -o-linear-gradient(top, #9f0010 0%, #ff0033 100%);
  background: -ms-linear-gradient(top, #9f0010 0%, #ff0033 100%);
  background: linear-gradient(to bottom, #9f0010 0%, #ff0033 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f0010', endColorstr='#ff0033', GradientType=0 );
  border-bottom: 16px solid #ae0026; }
  #header .header-img {
    width: 100%;
    margin: auto;
    margin: 24px; }
  #header .header-kantoni {
    margin-top: 48px;
    margin-bottom: 48px; }
    #header .header-kantoni a {
      display: table;
      padding: 0px 24px; }
    #header .header-kantoni:first-child a {
      float: right; }
    #header .header-kantoni img {
      float: left;
      width: 100px;
      margin: 0px; }
    #header .header-kantoni span {
      display: block;
      float: left;
      width: calc(100% - 124px);
      font-size: 24pt;
      color: #fff;
      margin-left: 24px; }

.scribble-bubbles .bubble-1 img {
  width: 60%;
  display: block;
  margin: auto; }
.scribble-bubbles .bubble-2 {
  position: relative;
  top: -10px;
  z-index: 10; }
  .scribble-bubbles .bubble-2 img {
    width: 70%;
    display: block;
    margin: auto; }
.scribble-bubbles .bubble-3 {
  z-index: 9;
  position: relative;
  top: -24px;
  margin-bottom: -128px; }
  .scribble-bubbles .bubble-3 img:first-child {
    width: 90%;
    display: block;
    margin: auto;
    z-index: 9; }
  .scribble-bubbles .bubble-3 img:last-child {
    width: 70%;
    display: block;
    margin: auto;
    z-index: 8;
    position: relative;
    top: -13px; }

p {
  font-size: 13pt;
  color: #fff;
  font-weight: 400;
  text-align: center; }

h3 {
  text-transform: uppercase;
  font-size: 25pt;
  text-align: center;
  font-weight: 400;
  color: #fff;
  margin-top: 24px; }

.lg-text {
  font-size: 24pt; }

#cycle {
  background: url("../assets/img/glowing-bg.png") #ffad4a;
  background-position: center;
  background-size: cover;
  border-bottom: 16px solid #ae0026;
  position: relative; }
  #cycle img {
    width: 90%;
    max-width: 786px;
    display: block;
    margin: auto;
    padding: 128px 0px; }

#final .kids-heading {
  width: 90%;
  display: block;
  margin: auto;
  max-width: 512px;
  position: relative;
  z-index: 10;
  margin-top: -88px; }
#final .final-gradient {
  background: #9f0010;
  background: -moz-linear-gradient(top, #9f0010 0%, #ff0033 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #9f0010), color-stop(100%, #ff0033));
  background: -webkit-linear-gradient(top, #9f0010 0%, #ff0033 100%);
  background: -o-linear-gradient(top, #9f0010 0%, #ff0033 100%);
  background: -ms-linear-gradient(top, #9f0010 0%, #ff0033 100%);
  background: linear-gradient(to bottom, #9f0010 0%, #ff0033 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f0010', endColorstr='#ff0033', GradientType=0 );
  position: relative; }
#final .final-header {
  background-color: #fff;
  position: relative;
  z-index: 9;
  padding-bottom: 24px; }
  #final .final-header h2 {
    margin-bottom: 24px; }
  #final .final-header ul {
    width: calc(100% - 180px); }
    #final .final-header ul li {
      color: #ec1c24; }
  #final .final-header .final-header-text img {
    width: 95%;
    margin: auto;
    max-width: 1180px;
    display: block;
    margin-top: 48px; }
  #final .final-header .final-header-first {
    padding: 24px;
    border-right: 3px dashed #ec1c24; }
  #final .final-header .final-header-second {
    padding: 24px; }
  #final .final-header .big-hogfish-headeing {
    font-size: 18pt;
    font-family: 'Hogfish';
    color: #EC1C24; }
  #final .final-header .list-floating-image {
    position: absolute;
    bottom: 0px;
    right: 24px;
    height: 128px;
    width: auto; }
#final .final-diagrams img {
  width: 90%;
  max-width: 700px;
  display: block;
  margin: auto;
  padding: 128px 0px;
  position: relative;
  z-index: 5; }
#final .absolute-glow {
  position: absolute;
  z-index: 4;
  top: 0px;
  width: 100%;
  height: 100%; }
#final .final-yellow {
  background-color: #ffad4a;
  border-radius: 10px;
  width: 90%;
  display: block;
  margin: auto;
  padding: 48px;
  position: relative;
  z-index: 5; }
#final .final-yellow-header {
  display: flex;
  align-items: center;
  padding: 0px 24px;
  margin-bottom: 16px; }
  #final .final-yellow-header img:first-child {
    width: 48px;
    margin-right: 16px;
    height: auto;
    float: left; }
  #final .final-yellow-header img:last-child {
    float: left;
    width: calc(100% - 64px);
    height: 8px; }

/*# sourceMappingURL=style.css.map */
