@font-face {
    font-family: 'Hogfish';
    src: url('../assets/fonts/Hogfish.otf');
}

* {
    font-family: 'Roboto Slab', serif;
}

nav {
    background: #fff;
    border-bottom: 5px solid #620202;
    img {
        width: 100%;
        height: auto;
        margin: 16px 0px;
    }
}

.relative {
    position: relative;
}

a {
    color: #620202;
    font-weight: 400;
    transition: all 0.2s !important;
    &:hover {
        color: #620202;
        text-decoration: none;
        img {
            opacity: 0.8 !important;
        }
        div {
            opacity: 0.8 !important;
        }
    }
    &:focus {
        outline: none;
        img {
            outline: none;
            &:focus {
                outline: none;
            }
        }
    }
    img {
        outline: none;
        &:focus {
            outline: none;
        }
    }
}

.link-arrow {
    position: absolute;
    bottom: -10px;
    right: -32px;
    margin-right: 0px !important;
}

.no-gutters {
    padding: 0px;
}

#header {
    padding: 32px 0px;
    background: rgba(159,0,16,1);
    background: -moz-linear-gradient(top, rgba(159,0,16,1) 0%, rgba(255,0,51,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(159,0,16,1)), color-stop(100%, rgba(255,0,51,1)));
    background: -webkit-linear-gradient(top, rgba(159,0,16,1) 0%, rgba(255,0,51,1) 100%);
    background: -o-linear-gradient(top, rgba(159,0,16,1) 0%, rgba(255,0,51,1) 100%);
    background: -ms-linear-gradient(top, rgba(159,0,16,1) 0%, rgba(255,0,51,1) 100%);
    background: linear-gradient(to bottom, rgba(159,0,16,1) 0%, rgba(255,0,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f0010', endColorstr='#ff0033', GradientType=0 );
    .header-img {
        width: 100%;
        margin: auto;
    }

    .header-kantoni {
        margin-top: 48px;
        margin-bottom: 48px;
        a {
            display: table;
            padding: 0px 24px;
        }

        &:first-child {
            a {
                float: right;
            }
        }


        img {
            float: left;
            width: 100px;
            margin: 0px;
        }
        span {
            display: block;
            float: left;
            width: calc(100% - 124px);
            font-size: 24pt;
            color: #fff;
            margin-left: 24px;
        }
    }

    border-bottom: 16px solid #ae0026;


}

.custom-modal {
    background-color: #fff;
    border-radius: 24px;
    .modal-header {
        border-bottom: 0px;
        border-radius: 24px;
        padding-left: 32px;
    }
    .modal-title {
        font-family: 'Hogfish';
        color: #E2001A;
        padding-top: 8px;
    }
    .close {
        span {
            color: rgb(226, 0, 26);
        }

    }

    .modal-content {
        border-radius: 24px;
        color: #E2001A;
    }

    .modal-body {
        padding: 0px 32px 32px;
    }
}

.scribble-bubbles {
    .bubble-1 {
        img {
            width: 60%;
            display: block;
            margin: auto;
        }

    }
    .bubble-2 {
        background-color: #fff;
        position: relative;
        top: -10px;
        z-index: 10;
        border-radius: 24px;
        width: 100%;
        max-width: 512px;
        margin: auto;
        padding: 24px;

        p {
            color: #E2001A;
            margin-bottom: 0px;
            text-align: left;
            display: table-cell;
        }
        img {
            width: 64px;
            display: inline-block;
            float:left;
            margin-right: 24px;
        }
    }


}

.bubble-3 {

    .bubble-3-title {
        width: 80%;
        max-width: 320px;
        margin-bottom: 24px;
        display: block;
        margin: auto;
    }

    .bubble-3-inner {
        margin-top: 64px;
        .strategies-heading {
            font-family: "Hogfish";
        }
        .strategies-image {
            width: 100%;
            max-width: 128px;
        }
    }

    .bubble-3-background {
        background-color: #99161F;
        padding: 24px;
        padding-top: 200px;
        margin-top: -175px;
    }

    z-index: 9;
    position: relative;
    top: -24px;
    margin-bottom: -128px;
    img {
        &:first-child {
            width: 90%;
            display: block;
            margin: auto;
            z-index: 9;
        }

        &:last-child {
            width: 70%;
            display: block;
            margin: auto;
            z-index: 8;
            position: relative;
            top: -13px;
        }
    }
}

p {
    font-size: 13pt;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

h3 {
    text-transform: uppercase;
    font-size: 25pt;
    text-align: center;
    font-weight: 400;
    color: #fff;
    margin-top: 24px;
}

.lg-text {
    font-size: 24pt;
}

#cycle {
    background: url('../assets/img/glowing-bg.png') #ffad4a;
    background-position: center;
    background-size: cover;
    border-bottom: 16px solid #ae0026;
    position: relative;

    img {
        width: 90%;
        max-width: 786px;
        display: block;
        margin: auto;
        padding: 128px 0px;
    }
}

#final {
    .kids-heading {
        width: 90%;
        display: block;
        margin: auto;
        max-width: 512px;
        position: relative;
        z-index: 10;
        margin-top: -88px;
    }

    .show-hover {
        display: none;
    }

    .hover-trigger {
        opacity: 1 !important;
        &:hover {
            opacity: 1 !important;
            .hide-hover {
                display: none;
            }
            .show-hover {
                display: block;
                opacity: 1 !important;
            }
        }
    }

    .final-gradient {
        background: rgba(159,0,16,1);
        background: -moz-linear-gradient(top, rgba(159,0,16,1) 0%, rgba(255,0,51,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(159,0,16,1)), color-stop(100%, rgba(255,0,51,1)));
        background: -webkit-linear-gradient(top, rgba(159,0,16,1) 0%, rgba(255,0,51,1) 100%);
        background: -o-linear-gradient(top, rgba(159,0,16,1) 0%, rgba(255,0,51,1) 100%);
        background: -ms-linear-gradient(top, rgba(159,0,16,1) 0%, rgba(255,0,51,1) 100%);
        background: linear-gradient(to bottom, rgba(159,0,16,1) 0%, rgba(255,0,51,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f0010', endColorstr='#ff0033', GradientType=0 );
        position: relative;
    }

    .final-header {
        background-color: #fff;
        position: relative;
        z-index: 9;
        padding-bottom: 24px;
        h2 {
            margin-bottom: 24px;
        }

        ul {
            width: calc(100% - 180px);
            li {
                color: #ec1c24;
            }
        }

        .final-header-text {
            img {
                width: 95%;
                margin: auto;
                max-width: 1180px;
                display: block;
                margin-top: 48px;
            }
        }
        .final-header-first {
            padding: 24px;
            border-right: 3px dashed #ec1c24;
        }

        .final-header-second {
            padding: 24px;
        }

        .big-hogfish-headeing {
            font-size: 18pt;
            font-family: 'Hogfish';
            color: #EC1C24;
        }

        .list-floating-image {
            position: absolute;
            bottom: 0px;
            right: 24px;
            height: 128px;
            width: auto;
        }
    }
    .final-diagrams {
        background:url('../assets/img/glowing-bg.png');
        background-size: 100% 80%;
        background-position: top center;
        background-repeat: no-repeat;
        .diagram {
            width: 90%;
            max-width: 700px;
            display: block;
            margin: auto;
            padding: 128px 0px;
            position: relative;
            z-index: 5;
        }
    }
    .final-yellow {
        background-color: #ffad4a;
        border-radius: 10px;
        width: 90%;
        display: block;
        margin: auto;
        padding: 48px;
        position: relative;
        z-index: 5;

        p {
            text-align: left;
            color: #333333;
            padding: 0px 24px;
            border-left: 2px solid #fff;

        }

        .yellow-item:first-child {
            p {
                border: none;
            }
        }
    }

    .final-yellow-header {
        display: flex;
        align-items: center;
        padding: 0px 48px;
        margin-bottom: 16px;

        img {
            &:first-child {
                width: 48px;
                margin-right: 16px;
                height: auto;
                float: left;
            }
            &:last-child {
                float: left;
                width: calc(100% - 64px);
                height: 8px;
            }
        }
    }
    .final-scribbles {
        margin-top: 64px;
        img {
            width: 100%;
        }
        .final-scribble-2 {
            width: 80%;
            display: block;
            margin: auto;
        }
        .row {
            align-items: center;
        }
    }

    .final-links {
        margin: 64px 0px;
        .row {
            align-items: center;
        }
    }

    .final-link-wrapper {
        img {
            width: 100%;
            position: relative;
            z-index: 5;
            &:first-child {
                width: 80%;
                position: relative;
                top: 16px;
                display: block;
                margin: auto;
                z-index: 4;
            }
        }
    }

    .final-list {
        padding-bottom: 48px;
        h3 {
            display: block;
            margin: auto;
            margin-bottom: 24px;
            font-family: 'Hogfish';
        }
    }

    .list-link {
        p {
            transition: all 0.25s;
        }
        &:hover {
            p {
                opacity: 0.8;
            }
        }
    }

    .final-list-item {
        margin-bottom: 16px;
        img {
            width: 64px;
            height: auto;
            float: left;
            margin-right: 24px;
        }
        p {
            float: left;
            width: calc(100% - 88px);
            text-align: left;
            font-size: 14pt;
            font-weight: bold;
        }
    }
}

/*******************
EMIR - Start
*******************/
#sarajevo-header {
    padding-top: 24px;
    background: #8b0304;
    background: -moz-linear-gradient(top, #8b0304 0%, #ee1d24 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #8b0304), color-stop(100%, #ee1d24));
    background: -webkit-linear-gradient(top, #8b0304 0%, #ee1d24 100%);
    background: -o-linear-gradient(top, #8b0304 0%, #ee1d24 100%);
    background: -ms-linear-gradient(top, #8b0304 0%, #ee1d24 100%);
    background: linear-gradient(to bottom, #8b0304 0%, #ee1d24 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b0304', endColorstr='#ee1d24', GradientType=0 );
    .header-top-imgs {
        .header-img {
            width: 100%;
            max-width: 512px;
            margin: auto;
            display: block;
        }
        .heading-img {
            width: 100%;
            max-width: 512px;
            margin: auto;
            margin-top: -24px;
            display: block;
            margin: auto;
        }
        .heading-paragraph {
            width: 50%;
            display: block;
            margin: auto;
            margin-top: -16px;
            color: #EC1C24;
            background-color: #fff;
            font-weight: 700;
            padding: 30px;
            font-size: 14pt;
            border-radius: 20px;
            margin-bottom: 64px;
            text-align: center;
        }
    }
    .header-list {
        color: #FFF;
        font-size: 12pt;
        ul {
            margin-bottom: 48px;
        }
        p {
            font-weight: 200;
            float: right;
            font-size: 12pt;
            margin-top: 16px;
        }
        .row {
            margin-top: 40px;
        }
    }
    .header-bubbles {
        margin-top: 64px;
        h3 {
            font-family: 'Hogfish';
        }
        .row {
            align-items: center;
        }
        img {
            width: 100%;
        }
        .bubbles {
            padding:0px;
            margin: 0px -12px;
        }
    }
    .header-information {
        margin-top: 64px;
        background-color: #9f0010;
        padding: 24px 48px;
        padding-top: 56px;
        padding-bottom: 56px;
        border-radius: 24px;

        h3 {
            margin-top: 24px;
            font-family: 'Hogfish';
        }
        p {
            font-size: 12pt;
            text-align: left;
        }
        ul {
            font-size: 12pt;
            color: #FFF;
            li {
                margin-top: 16px;
            }
        }
    }
    .header-quotes {
        margin-top: 64px;
        background-color: #ffad4a;
        border-radius: 50px;
        display: block;
        padding: 48px;
        position: relative;
        z-index: 5;
        p {
            text-align: left;
            color: #333333;
            padding: 0px 24px;

        }
        .header-quotes-header {
            display: flex;
            align-items: center;
            padding: 0px 48px;
            margin-bottom: 16px;
            img {
                &:first-child {
                    width: 48px;
                    margin-right: 16px;
                    height: auto;
                    float: left;
                }
                &:last-child {
                    float: left;
                    width: calc(100% - 64px);
                    height: 8px;
                }
            }
        }
    }
    .header-status {
        margin-top: 64px;
        img {
            width: 100%;
            max-width: 768px;
            display: block;
            margin: auto;
        }
    }
}

.bubbles-adjust-padding {
    padding-left: 96px;
}

.header-bubbles, .header-information {
    h3 {
        margin-bottom: 32px;
    }
}

#tuzla-header {
    background: rgba(159,0,16,1);
    background: -moz-linear-gradient(top, rgba(159,0,16,1) 0%, rgba(255,0,51,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(159,0,16,1)), color-stop(100%, rgba(255,0,51,1)));
    background: -webkit-linear-gradient(top, rgba(159,0,16,1) 0%, rgba(255,0,51,1) 100%);
    background: -o-linear-gradient(top, rgba(159,0,16,1) 0%, rgba(255,0,51,1) 100%);
    background: -ms-linear-gradient(top, rgba(159,0,16,1) 0%, rgba(255,0,51,1) 100%);
    background: linear-gradient(to bottom, rgba(159,0,16,1) 0%, rgba(255,0,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f0010', endColorstr='#ff0033', GradientType=0 );
    .header-img {
        width: 50%;
        margin-left: 25%;
    }
}

/*******************
EMIR - End
*******************/

@media (max-width: 991px) {
    #sarajevo-header {
        .header-top-imgs {
            img {
                width: 95%;
                margin-left: 2.5%;
            }
            .heading-paragraph {
                width: 100%;
                margin-left: 0%;
            }
        }
    }

    #final .final-header ul {
        width: calc(100% - 122px);
    }

    #final .final-yellow p {
        border: none;
    }

    .strategies-heading {
        font-size: 20pt;
    }
    .bubble-3 .bubble-3-background {
        margin-top: -160px;
    }

    #final .final-diagrams {
        background-size: 100% 60%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 900px;
    }
}

@media (max-width: 767px) {
    #sarajevo-header {
        .last-dash {
            width: 100%;
        }
        .header-information {
            font-size: 11pt;
            margin-left: 0%;
            p {
                width: 100%;
                margin-left: 0%;
            }
            ul {
                width: 100%;
                margin-left: 0%;
            }
        }
        .heading-paragraph {
            font-size: 11pt !important;
        }

        .header-status {
            img {
                max-width: 767px;
                width: 90%;
                display: block;
                margin: auto;
                margin-top: 0px;
            }
        }
        .bubbles {
            width: 100%;
            max-width: 256px;
            display: block;
            margin: -5px auto !important;
        }
    }

    #header {
        p {
            font-size: 11pt;
        }
        .lg-text {
            font-size: 16pt;
        }
    }

    #header .header-kantoni {
        margin: 24px 0px;
    }

    #header .header-kantoni a {
        float: none;

        &:first-child {
            float: none;
        }

        img {
            width: 75px;

        }

        span {
            font-size: 18pt;
            width: auto;
        }
    }

    .bubble-3 {

        .strategies-heading {
            font-size: 14pt;
        }

        .bubble-3-background {
            margin-top: 0px;
            padding-top: 24px;
        }
    }
    #final .final-diagrams {
        background-size: 100% 50%;
    }
    #final .final-header .final-header-first {
        border: none;
    }
    #final .final-header ul {
        font-size: 10pt;
        width: calc(100% - 55px);
    }

    #final .final-header .list-floating-image {
        height: 64px;

    }

    #final .final-header .big-hogfish-headeing {
        font-size: 14pt;
    }
    #final .final-scribbles img {
        width: 60%;
        margin: 24px auto;
        display: block;
    }
    #final .final-list-item p {
        font-size: 12pt;
    }

    #final .final-yellow .yellow-item p {
        font-size: 11pt;
    }
    .bubbles-adjust-padding {
        padding: 24px;
    }
}

@media (max-width: 575px) {
    nav {
        img {
            width: 70%;
            display: block;
            height: auto;
            margin: 16px auto;
        }
    }

    .scribble-bubbles .bubble-1 img {
        width: 100%;
    }
    .bubble-3 img:first-child {
        width: 70%;
    }
    #final .final-diagrams {
        background-size: 350% 48%;
    }
    #final .final-yellow {
        padding: 24px;
    }
}

@media (max-width: 450px) {
    #final .final-diagrams {
        background-size: 350% 40%;
    }
}

@media (max-width: 374px) {
    #header {
        p {
            font-size: 8pt;
        }
    }
    #final .final-diagrams {
        background-size: 350% 157vw;
    }
    #final .final-header ul {
        font-size: 8pt;
    }
}
