@font-face {
  font-family: 'Hogfish';
  src: url("../assets/fonts/Hogfish.otf"); }
* {
  font-family: 'Roboto Slab', serif; }

nav {
  background: #fff;
  border-bottom: 5px solid #620202; }
  nav img {
    width: 100%;
    height: auto;
    margin: 16px 0px; }

.no-gutters {
  padding: 0px; }

#header {
  padding: 32px 0px;
  background: #9f0010;
  background: -moz-linear-gradient(top, #9f0010 0%, #ff0033 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #9f0010), color-stop(100%, #ff0033));
  background: -webkit-linear-gradient(top, #9f0010 0%, #ff0033 100%);
  background: -o-linear-gradient(top, #9f0010 0%, #ff0033 100%);
  background: -ms-linear-gradient(top, #9f0010 0%, #ff0033 100%);
  background: linear-gradient(to bottom, #9f0010 0%, #ff0033 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f0010', endColorstr='#ff0033', GradientType=0 );
  border-bottom: 16px solid #ae0026; }
  #header .header-img {
    width: 100%;
    margin: auto; }
  #header .header-kantoni {
    margin-top: 48px;
    margin-bottom: 48px; }
    #header .header-kantoni a {
      display: table;
      padding: 0px 24px; }
    #header .header-kantoni:first-child a {
      float: right; }
    #header .header-kantoni img {
      float: left;
      width: 100px;
      margin: 0px; }
    #header .header-kantoni span {
      display: block;
      float: left;
      width: calc(100% - 124px);
      font-size: 24pt;
      color: #fff;
      margin-left: 24px; }

.scribble-bubbles .bubble-1 img {
  width: 60%;
  display: block;
  margin: auto; }
.scribble-bubbles .bubble-2 {
  position: relative;
  top: -10px;
  z-index: 10; }
  .scribble-bubbles .bubble-2 img {
    width: 70%;
    display: block;
    margin: auto; }
.scribble-bubbles .bubble-3 {
  z-index: 9;
  position: relative;
  top: -24px;
  margin-bottom: -128px; }
  .scribble-bubbles .bubble-3 img:first-child {
    width: 90%;
    display: block;
    margin: auto;
    z-index: 9; }
  .scribble-bubbles .bubble-3 img:last-child {
    width: 70%;
    display: block;
    margin: auto;
    z-index: 8;
    position: relative;
    top: -13px; }

p {
  font-size: 13pt;
  color: #fff;
  font-weight: 400;
  text-align: center; }

h3 {
  text-transform: uppercase;
  font-size: 25pt;
  text-align: center;
  font-weight: 400;
  color: #fff;
  margin-top: 24px; }

.lg-text {
  font-size: 24pt; }

#cycle {
  background: url("../assets/img/glowing-bg.png") #ffad4a;
  background-position: center;
  background-size: cover;
  border-bottom: 16px solid #ae0026;
  position: relative; }
  #cycle img {
    width: 90%;
    max-width: 786px;
    display: block;
    margin: auto;
    padding: 128px 0px; }

#final .kids-heading {
  width: 90%;
  display: block;
  margin: auto;
  max-width: 512px;
  position: relative;
  z-index: 10;
  margin-top: -88px; }
#final .final-gradient {
  background: #9f0010;
  background: -moz-linear-gradient(top, #9f0010 0%, #ff0033 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #9f0010), color-stop(100%, #ff0033));
  background: -webkit-linear-gradient(top, #9f0010 0%, #ff0033 100%);
  background: -o-linear-gradient(top, #9f0010 0%, #ff0033 100%);
  background: -ms-linear-gradient(top, #9f0010 0%, #ff0033 100%);
  background: linear-gradient(to bottom, #9f0010 0%, #ff0033 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f0010', endColorstr='#ff0033', GradientType=0 );
  position: relative; }
#final .final-header {
  background-color: #fff;
  position: relative;
  z-index: 9;
  padding-bottom: 24px; }
  #final .final-header h2 {
    margin-bottom: 24px; }
  #final .final-header ul {
    width: calc(100% - 180px); }
    #final .final-header ul li {
      color: #ec1c24; }
  #final .final-header .final-header-text img {
    width: 95%;
    margin: auto;
    max-width: 1180px;
    display: block;
    margin-top: 48px; }
  #final .final-header .final-header-first {
    padding: 24px;
    border-right: 3px dashed #ec1c24; }
  #final .final-header .final-header-second {
    padding: 24px; }
  #final .final-header .big-hogfish-headeing {
    font-size: 18pt;
    font-family: 'Hogfish';
    color: #EC1C24; }
  #final .final-header .list-floating-image {
    position: absolute;
    bottom: 0px;
    right: 24px;
    height: 128px;
    width: auto; }
#final .final-diagrams {
  background: url("../assets/img/glowing-bg.png");
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat; }
  #final .final-diagrams .diagram {
    width: 90%;
    max-width: 700px;
    display: block;
    margin: auto;
    padding: 128px 0px;
    position: relative;
    z-index: 5; }
#final .final-yellow {
  background-color: #ffad4a;
  border-radius: 10px;
  width: 90%;
  display: block;
  margin: auto;
  padding: 48px;
  position: relative;
  z-index: 5; }
  #final .final-yellow p {
    text-align: left;
    color: #333333;
    padding: 0px 24px;
    border-left: 2px solid #fff; }
  #final .final-yellow .yellow-item:first-child p {
    border: none; }
#final .final-yellow-header {
  display: flex;
  align-items: center;
  padding: 0px 48px;
  margin-bottom: 16px; }
  #final .final-yellow-header img:first-child {
    width: 48px;
    margin-right: 16px;
    height: auto;
    float: left; }
  #final .final-yellow-header img:last-child {
    float: left;
    width: calc(100% - 64px);
    height: 8px; }
#final .final-scribbles {
  margin-top: 64px; }
  #final .final-scribbles img {
    width: 100%; }
  #final .final-scribbles .final-scribble-2 {
    width: 80%;
    display: block;
    margin: auto; }
  #final .final-scribbles .row {
    align-items: center; }
#final .final-links {
  margin: 64px 0px; }
  #final .final-links .row {
    align-items: center; }
#final .final-link-wrapper img {
  width: 100%;
  position: relative;
  z-index: 5; }
  #final .final-link-wrapper img:first-child {
    width: 80%;
    position: relative;
    top: 16px;
    display: block;
    margin: auto;
    z-index: 4; }
#final .final-list {
  padding-bottom: 48px; }
#final .final-list-item {
  margin-bottom: 16px; }
  #final .final-list-item img {
    width: 64px;
    height: auto;
    float: left;
    margin-right: 24px; }
  #final .final-list-item p {
    float: left;
    width: calc(100% - 88px);
    text-align: left;
    font-size: 14pt;
    font-weight: bold; }

/*******************
EMIR - Start
*******************/
/*******************
EMIR - End
*******************/
@media (max-width: 991px) {
  #final .final-header ul {
    width: calc(100% - 122px); }

  #final .final-yellow p {
    border: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 900px; } }
@media (max-width: 767px) {
  #header p {
    font-size: 11pt; }
  #header .lg-text {
    font-size: 16pt; }

  #header .header-kantoni {
    margin: 24px 0px; }

  #header .header-kantoni a {
    float: none;
    margin: auto; }
    #header .header-kantoni a:first-child {
      float: none; } }
@media (max-width: 575px) {
  nav img {
    width: 70%;
    display: block;
    height: auto;
    margin: 16px auto; } }

/*# sourceMappingURL=style.css.map */
